html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1440px;
    padding: 0 88px;
    margin: 0 auto;
}

.fullscreen {
    background-image: url(../img/image/fullscreen.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: 100%;
    height: 100vh; /* responsive height */
}

.header {
    height: 73px;
    width: 100%;
    position: fixed;
    background: #FFFFFF;
    z-index: 50;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

.header__body {
    height: 73px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-top: 22px;
    z-index: 3;
}

.header__menu, .header__list {
    display: flex;
    align-items: center;
    z-index: 2;
}

.header__list a {
    font-size: 16px;
    line-height: 21px;
    color: #1B365D;
    margin-left: 48px;
}

.header__list a,
.header__list li {
    display: block;
    position: relative;
}

.header__list a:hover {
    transition: 0.5s;
    text-shadow: 0 0 1em #6f83a1;
}

.header__button {
    width: 92px;
    border: 1px solid #A7BBC9;
    background-color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    margin-left: 100px;
}

.header__button a {
    font-size: 11px;
    line-height: 28px;
    font-weight: bold;
    color: #1B365D;
}

.header__button a:hover {
    transition: 0.3s;
    font-size: 12px;
}

.fullscreen {
    position: relative;
}

.fullscreen__body {
    padding: 268px 0 0 0;
    max-width: 404px;
}

.fullscreen__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 62px;
    color: #1B365D;
}

.fullscreen__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #434140;
    padding: 17px 0 40px 0;
}

.fullscreen__button {
    display: inline-block;
    width: 186px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 24px;
    margin: 0 27px 0 0;
}

.fullscreen__button a {
    font-weight: bold;
    font-size: 14px;
    line-height: 46px;
    color: #1B365D;
}

.fullscreen__button a:hover {
    font-size: 15px;
    transition: 0.3s;
}

.fullscreen__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #1B365D;
}

.fullscreen__link:hover {
    text-decoration: underline;
}

.special-offer {
    display: inline-block;
    position: relative;
    left: 0;
    top: -60px;
    height: 86px;
    background: #F1C0C7 url("../img/vector/Rectangle.svg") 88px 50% no-repeat;

}

.special-offer__body {
    padding: 0 25px 0 188px;
}

.special-offer__title {
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    color: #1B365D;
    padding: 21px 0 1px 0;
}

.special-offer__subtitle {
    font-size: 14px;
    line-height: 20px;
    color: #1B365D;
}

.types__body {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    text-align: center;
    justify-items: center;
    align-items: center;
}

.types__item {
    width: 304px;
}


.portal-tv {
    background: url("../img/image/portaltv.png") center no-repeat;
    padding: 447px 50px 32px 51px;

}

.portal {
    background: url("../img/image/portal.png") center no-repeat;
    padding: 447px 67px 32px 67px;

}

.portal-plus {
    background: url("../img/image/portal+.png") center no-repeat;
    padding: 447px 67px 32px 67px;

}

.portal-mini {
    background: url("../img/image/portalmini.png") center no-repeat;
    padding: 447px 62px 32px 63px;

}

.types__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.types__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 1px 0 15px 0;
}

.types__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.types__link:hover {
    text-decoration: underline;
}

.smart-camera {
    position: relative;
    z-index: 3;
}

.smart-camera__title {
    max-width: 682px;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color: #1B365D;
    padding: 28px 0 35px 0;
}

.smart-camera__image img {
    max-width: 100%;
}

.features {
    background: #D0E8EA;
    position: relative;
    margin-top: -266px;
    z-index: 1;
}

.features__body {
    display: flex;
    flex-direction: row;
    padding: 296px 0 56px 0;
}

.features__column {
    max-width: 357px;
    margin: 0 80px;
}

.features__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1B365D;
}

.features__text {
    font-size: 17px;
    line-height: 23px;
    color: #434141;
    padding: 9px 0 15px 0;
}

.features__link {
    font-size: 14px;
    line-height: 20px;
    color: #1B365D;
}

.features__link:hover {
    text-decoration: underline;
}

.network__body {
    display: flex;
    flex-direction: row;
    padding: 0 0 114px 0;
}

.network__content {
    margin: 25px 0 0 57px;
}

.network__image img {
    max-width: 100%;
}

.network__icons img {
    padding: 0 16px 17px 0;
}

.network__title {
    font-size: 50px;
    line-height: 55px;
    color: #1B365D;
    max-width: 459px;
}

.network__text {
    font-size: 17px;
    line-height: 23px;
    padding: 20px 0 16px 0;
    color: #615E5C;
    max-width: 485px;
}

.network__subtext {
    font-size: 11px;
    line-height: 18px;
    color: #AEABA8;
    max-width: 505px;
}

.story-time {
    background-image: url(../img/image/bethestory.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: 100%;
    height: 100vh; /* responsive height */
}

.story-time__body {
    padding: 375px 0 58px 0;
}

.story-time__main-content {
    max-width: 454px;
    position: relative;
    padding: 0 0 56px 24px;
}

.story-time__main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 216px;
    border-radius: 4px;
    background-color: #ADD4E0;
}

.story-time__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
}

.story-time__text {
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 20px 0 23px 0;
}

.story-time__link {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.story-time__link:hover {
    text-decoration: underline;
}

.story-time__content {
    margin: -8px 0;
}

.story-time__comment {
    position: relative;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 8px 0 8px 24px;
}

.story-time__comment::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 22px;
    border-radius: 4px;
    background-color: #615E5C;
}

.built-in {
    position: relative;
}

.built-in__body {
    display: flex;
    flex-direction: row;
    padding: 89px 0 364px 0;
}

.built-in__content {
    padding-top: 13px;
    max-width: 416px;
}

.built-in__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color: #1B365D;
    padding: 13px 0 0 0;
}

.built-in__text {
    font-size: 17px;
    line-height: 23px;
    color: #615E5C;
    padding: 20px 0 46px 0;
}

.built-in__button {
    width: 127px;
    background-color: #ADD4E0;
    border-radius: 24px;
    text-align: center;
}

.built-in__button a {
    font-size: 14px;
    line-height: 46px;
    color: #1B365D;
}

.built-in__button a:hover {
    font-size: 15px;
    transition: 0.3s;
}

.built-in__image {
    margin: 0 auto;
}

.built-in__image img {
    max-width: 100%;
}

.built-in__subtext {
    margin: 0 auto;
    max-width: 650px;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #AEABA8;
    padding: 3px 0 0 0;
}

.usability {
    position: relative;
    margin-top: -311px;
    z-index: 3;
}

.usability__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.usability__design {
    width: 622px;
    height: 622px;
    padding: 32px 0 0 32px;
    background: url("../img/image/private.png") center no-repeat;
}

.usability__home {
    width: 622px;
    height: 622px;
    padding: 32px 0 0 32px;
    background: url("../img/image/smartwork.png") center no-repeat;
}

.title {
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
}

.usability__design_title {
    color: #1B365D;
}


.text {
    font-size: 16px;
    line-height: 22px;
}

.usability__design_text {
    color: #434140;
    padding: 9px 0 37px 0;
}

.link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.link:hover {
    text-decoration: underline;
}

.usability__design_link {
    color: #1B365D;
}

.usability__home_title,
.usability__home_text,
.usability__home_link {
    color: #FFFFFF;
}

.usability__home_text {
    padding: 9px 0 15px 0;
}

.products {
    position: relative;
    background-color: #D0E7EA;
    margin-top: -311px;
}

.products__body {
    padding: 368px 0 29px 0;
}

.products__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    color: #1B365D;
}

.products__offer {
    height: 54px;
    background: url("../img/vector/Rectangle (1).svg") 0 27px no-repeat;
    padding: 27px 0 51px 100px;
}

.products__offer_title,
.products__offer_subtitle {
    font-size: 17px;
    line-height: 23px;
    color: #1B365D;
}

.products__offer_title {
    padding-top: 3px;
}


.products__items {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    margin: 51px 0 40px 0;
    justify-items: center;

}

.products__item {
    padding: 32px 18px 24px 18px;
    background-color: #F7F7F7;
    text-align: center;
}

.products__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products__text span {
    font-size: 10px;
}

.products__img {
    padding: 25px 38px;
}

.products__description {
    font-size: 15px;
    line-height: 20px;
    color: #434140;
    padding-bottom: 31px;
}

.products__button {
    display: block;
    width: 108px;
    border-radius: 24px;
    background-color: #1877F2;
    margin: 0 auto;
    margin-bottom: 25px;
}

.products__button a {
    font-size: 14px;
    line-height: 46px;
    color: #FFFFFF;
}

.products__button a:hover {
    font-size: 15px;
    transition: 0.3s;
}

.products__link {
    font-size: 14px;
    line-height: 20px;
    color: #1B365D;
}

.products__link:hover {
    text-decoration: underline;
}

.products__compare-button {
    width: 193px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.products__compare-button a {
    font-size: 14px;
    line-height: 46px;
    color: #1B365D;
}

.products__compare-button a:hover {
    font-size: 15px;
    transition: 0.3s;
}

.footer {
    background-color: #272E38;
}

.footer__body, .footer__links, .footer__information {
    display: flex;
    flex-direction: row;
}

.footer__content {
    padding: 0 0 0 204px;
}

.footer__body {
    padding: 64px 0 40px 0;
}

.links_item {
    display: flex;
    flex-direction: column;
}

.sign-up_button {
    display: block;
}


.first-item {
    padding-right: 111px;
}

.links_item li {
    font-size: 13px;
    line-height: 21px;
    margin: 0 0 17px 0;
}

.links_item a {
    color: #DADBDD;
}

.footer__sign-up {
    margin-left: 151px;
}

.sign-up_text {
    font-size: 14px;
    line-height: 20px;
    color: #9CA5B0;
}

.sign-up_button {
    width: 103px;
    height: 40px;
    border-radius: 24px;
    margin: 15px 0 52px 0;
}

.sign-up_button a {
    font-size: 14px;
    line-height: 20px;
    color: #1B365D;
}

.sign-up_button a:hover {
    font-size: 15px;
    transition: 0.3s;
}

.sign-up_region {
    width: 205px;
    height: 40px;
    border-radius: 5px;
    background-color: #272E38;
    border: 1px solid #3D434C;
}

.sign-up_region a {
    font-size: 11px;
    line-height: 17px;
    color: #FFFFFF;
}

.sign-up_region a:hover {
    font-size: 12px;
    transition: 0.3s;
}

.sign-up_region span {
    padding-left: 3px;
    color: #9CA5B0;
}

.footer__text {
    padding: 67px 0 0 0;
}

.footer__text p {
    font-size: 11px;
    line-height: 17px;
    color: #9CA5B0;
    padding: 0 0 21px 0;
}

@media (max-width: 1440px) {
    .usability__design {
        width: 550px;
        height: 550px;
    }

    .usability__home {
        width: 550px;
        height: 550px;
    }

    .products__img {
        padding: 15px 20px;
    }
}

@media (max-width: 1420px) {
    .types__item {
        width: 280px;
    }

    .types__title {
        font-size: 20px;
    }

    .types__text {
        font-size: 12px;
    }

}

@media (max-width: 1341px) {
    .types__item {
        width: 260px;
    }

    .portal-tv {
        padding: 350px 50px 32px 51px;
    }

    .portal {
        padding: 350px 50px 32px 51px;
    }

    .portal-mini {
        padding: 350px 50px 32px 51px;
    }

    .portal-plus {
        padding: 350px 50px 32px 51px;
    }
}

@media (max-width: 1300px) {
    .usability__design,
    .usability__home {
        width: 500px;
        height: 500px;
        padding: 32px 32px 0 32px;
    }

    .text {
        font-size: 15px;
        line-height: 20px;
    }

    .products__items {
        grid-template: 1fr 1fr / repeat(3, 1fr);
    }

    .products__item {
        margin-bottom: 20px;
    }

}

@media (max-width: 1261px) {
    .types {
        margin-top: -20px;
    }

    .types__body {
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .types__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__content {
        padding: 0 0 0 100px;
    }

}

@media (max-width: 1190px) {
    .usability__design,
    .usability__home {
        width: 450px;
        height: 450px;
        padding: 25px 25px 0 25px;
    }

    .text {
        font-size: 14px;
    }

    .usability__design_text {
        padding: 9px 0 20px 0;
    }
}

@media (max-width: 1142px) {
    .container {
        padding: 0 60px;
    }

    .fullscreen__title {
        font-size: 45px;
    }

    .fullscreen__text {
        font-size: 15px;
        padding: 17px 0 25px 0;
    }

    .fullscreen__button {
        width: 150px;
    }

    .fullscreen__link, .fullscreen__button a {
        font-size: 12px;
    }

    .special-offer {
        background: #F1C0C7 url(../img/vector/Rectangle.svg) 60px 50% no-repeat;
    }

    .special-offer__body {
        padding: 0 25px 0 160px;
    }

    .smart-camera__title {
        font-size: 38px;
    }

    .features__column {
        max-width: 400px;
        margin: 0 50px;
    }

    .features__title {
        font-size: 20px;
    }

    .features__text {
        font-size: 15px;
    }

    .network__body {
        padding: 0 0 0 0;
    }

    .network__content {
        margin: 25px 0 0 25px;
    }

    .network__title {
        font-size: 40px;
    }

    .network__text {
        font-size: 15px;
        padding: 10px 0 10px 0;
    }

    .built-in__body {
        flex-direction: column;
        padding: 50px 0 364px 0;
    }

    .built-in__content {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 20px;
        max-width: 600px;
        text-align: center;
    }

    .built-in__image {
        margin: 0 auto;
    }

    .products__title {
        font-size: 40px;
    }
}

@media (max-width: 1042px) {
    .usability__body {
        flex-direction: column;
        align-items: center;
    }

    .usability__design {
        margin-bottom: 30px;
    }

    .products__body {
        padding: 495px 0 29px 0;
    }

    .products {
        margin-top: -465px;
    }

    .footer__content {
        padding: 0 0 0 60px;
    }

    .first-item {
        padding-right: 70px;
    }

    .footer__sign-up {
        margin-left: 90px;
    }

    .footer__text {
        padding: 50px 0 0 0;
    }
}

@media (max-width: 1000px) {
    .container {
        padding: 0 50px;
    }

    .fullscreen__body {
        padding: 275px 0 0 0;
    }

    .fullscreen__title {
        line-height: 50px;
    }

    .special-offer {
        background: #F1C0C7 url(../img/vector/Rectangle.svg) 50px 50% no-repeat;
    }

    .special-offer__body {
        padding: 0 25px 0 150px;
    }

    .features {
        margin-top: -225px;
    }

    .features__body {
        padding: 255px 0 30px 0;
    }

    .network__title {
        font-size: 35px;
        line-height: 40px;
    }

}

@media (max-width: 970px) {
    .products__items {
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .footer__body {
        flex-direction: column;
        padding: 40px 0 25px 0;
    }

    .footer__content {
        padding: 50px 0 0 0;
    }
}

@media (max-width: 844px) {
    .header__burger {
        display: block;
        position: relative;
        margin-top: 26px;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #1B365D;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger span {
        position: absolute;
        background-color: #1B365D;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 272px;
        height: 100%;
        background-color: white;
        padding-top: 90px;
        transition: all 0.4s ease 0s;
        overflow: auto;
        box-shadow: 0 12px 100px 0 rgba(0, 0, 0, 0.24);
    }

    .header__menu.active {
        top: 0;
        left: 0;
    }

    .header__menu, .header__list {
        display: block;
    }

    .header__list a {
        margin-left: 0;
        line-height: 80px;
        padding-left: 50px;
    }

    .header__list a:hover {
        transition: none;
        text-shadow: none;
    }

    .header__button {
        margin: 25px 0 100px 50px;
    }

    .smart-camera__title {
        font-size: 30px;
        padding: 15px 0 25px 0;
    }

    .features {
        margin-top: -186px;
    }

    .features__body {
        flex-direction: column;
        padding: 220px 0 30px 0;
    }

    .features__column {
        max-width: 75%;
        margin: 0 0 15px 0;
    }

    .network__body {
        flex-direction: column;
        position: relative;
    }

    .network__image {
        position: relative;
        order: 2;

    }

    .network__content {
        margin: 0 auto;
        text-align: center;
        padding: 40px 0 15px 0;
        order: 1;
    }

    .network__icons img {
        padding: 0 30px 20px 0;
    }
}

@media (max-width: 745px) {
    .types__body {
        grid-template: 1fr 1fr 1fr 1fr/ 1fr;
    }

    .features {
        margin-top: -160px;
    }

    .features__body {
        padding: 200px 0 30px 0;
    }

    .network__image {
        margin-left: -35px;
    }

    .built-in__body {
        padding: 30px 0 364px 0;
    }

    .built-in__title {
        font-size: 40px;
    }

    .built-in__text {
        font-size: 15px;
        padding: 20px 0 30px 0;
    }

    .footer__information {
        flex-direction: column;
    }

    .footer__sign-up {
        padding-top: 30px;
        margin-left: 0;
    }
}

@media (max-width: 682px) {
    .fullscreen__body {
        max-width: 300px;
    }

    .fullscreen__title {
        line-height: 40px;
        font-size: 35px;
    }

    .fullscreen__text {
        font-size: 13px;
        padding: 17px 0 20px 0;
    }

    .fullscreen__button {
        width: 130px;
        margin: 0 20px 0 0;
    }

    .features {
        margin-top: -146px;
    }

    .features__body {
        padding: 180px 0 30px 0;
    }

    .network__image {
        margin-left: -60px;
    }

    .story-time__title {
        font-size: 40px;
        line-height: 45px;
    }

    .story-time__main-content::before {
        height: 200px;
    }

    .products__title {
        font-size: 30px;
    }

    .products__items {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        margin: 40px 0 10px 0;
    }
}

@media (max-width: 560px) {
    .fullscreen__body {
        max-width: 100%;
    }

    .container {
        padding: 0 30px;
    }

    .fullscreen__title {
        font-size: 23px;
    }

    .fullscreen__text {
        font-size: 13px;
        padding: 15px 0 15px 0;
    }

    .header__list a {
        padding-left: 30px;
    }

    .header__button {
        margin: 25px 0 100px 30px;
    }

    .special-offer {
        background: #F1C0C7 url(../img/vector/Rectangle.svg) 30px 50% no-repeat;
        width: 100%;
    }

    .special-offer__body {
        padding: 0 25px 0 130px;
    }

    .smart-camera__title {
        padding: 0 0 20px 0;
        line-height: 40px;
        font-size: 25px;
    }

    .features {
        margin-top: -125px;
    }

    .features__body {
        padding: 150px 0 15px 0;
    }

    .features__column {
        max-width: 100%;
    }

    .network__icons img {
        padding: 0 20px 20px 0;
    }

    .story-time__title {
        font-size: 30px;
        line-height: 40px;
    }

    .story-time__text {
        font-size: 14px;
        padding: 10px 0 13px 0;
    }

    .story-time__main-content:before {
        height: 170px;
    }

    .story-time__comment {
        font-size: 14px;
    }

    .usability__design, .usability__home {
        width: 300px;
        height: 450px;
        padding: 20px 20px 0 20px;
    }

    .title {
        font-size: 25px;
        line-height: 30px;
    }

    .text {
        font-size: 13px;
        line-height: 17px;
    }

    .usability__design_link {
        color: #ffffff;
    }
}

@media (max-width: 425px) {
    .special-offer__subtitle {
        font-size: 13px;
    }

    .features {
        margin-top: -90px;
    }

    .features__body {
        padding: 115px 0 15px 0;
    }

    .network__title {
        font-size: 30px;
    }

    .network__image {
        margin-left: -45px;
    }

    .story-time__title {
        font-size: 25px;
        line-height: 35px;
    }

    .story-time__text {
        padding: 5px 0 8px 0;
    }

    .products__title {
        line-height: 40px;
    }

    .sign-up_button {
        margin: 15px 0 20px 0;
    }

    .footer__text {
        padding: 30px 0 0 0;
    }

    .footer__content {
        padding: 30px 0 0 0;
    }
}

@media (max-width: 405px) {
    .special-offer__title {
        font-size: 13px;
        padding: 12px 0 1px 0;
    }

    .products__title {
        font-size: 25px;
    }

    .products__offer_title {
        padding-top: 0;
    }

    .products__offer_title, .products__offer_subtitle {
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-height: 850px) {
    .fullscreen__body {
        padding: 230px 0 0 0;
    }
}

@media (max-height: 777px) {
    .fullscreen__body {
        padding: 200px 0 0 0;
    }

    .story-time__body {
        padding: 350px 0 58px 0;
    }
}

@media (max-height: 705px) {
    .fullscreen__body {
        padding: 180px 0 0 0;
    }

    .fullscreen__title {
        font-size: 20px;
        line-height: 30px;
    }

    .fullscreen__text {
        padding: 10px 0 10px 0;
    }

    .story-time__body {
        padding: 320px 0 58px 0;
    }
}

@media (max-height: 670px) {
    .story-time__body {
        padding: 260px 0 58px 0;
    }
}

@media (max-height: 607px) {
    .fullscreen__body {
        padding: 160px 0 0 0;
    }

    .story-time__body {
        padding: 230px 0 58px 0;
    }
}

@media (max-height: 580px) {
    .story-time__body {
        padding: 190px 0 58px 0;
    }

    .story-time__main-content {
        padding: 0 0 30px 24px;
    }
}


@media (max-height: 470px) {
    .fullscreen__body {
        padding: 140px 0 0 0;
    }

    .story-time__body {
        padding: 140px 0 58px 0;
    }
}

@media (max-height: 420px) {
    .fullscreen__body {
        padding: 115px 0 0 0;
    }

    .fullscreen__button {
        display: block;
        margin: 0 0 10px 0;
    }

    .fullscreen__link {
        margin: 0 0 0 20px;
    }

    .story-time__body {
        padding: 90px 0 58px 0;
    }
}

@media (max-height: 370px) {
    .fullscreen__body {
        padding: 100px 0 0 0;
    }
}

@media (max-width: 682px) and (max-height: 500px) {
    .story-time__body {
        padding: 100px 0 58px 0;
    }

    .story-time__title {
        font-size: 35px;
        line-height: 40px;
    }
}

@media (max-width: 682px) and (max-height: 398px) {
    .story-time__body {
        padding: 60px 0 58px 0;
    }

    .story-time__title {
        font-size: 30px;
    }
}




